{% extends 'base.html' %}

{% block content %}

<h1>Aproveche estos ofertones!!:</h1>
<h2>-Llevando 3 Teddys solo paga 2</h2>
<h2>-Llevando 2 Bunnys se le hace un 50% de descuento en la segunda unidad</h2>
<h2>-El baby yoda, por el día del padre tiene un descuento del 20%</h2>


<div class="d-flex" style="margin-top:5rem ; margin-left: 7rem">
  {% for producto in productos_all %}
  <div class="card" style="width: 18rem;">
    {% if producto.Imagen %}
    <img src={{producto.Imagen.url}} class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{producto.objetos}}</h5>
      <p class="card-text">precio: ${{producto.descuento}}</p>
      <p class="card-text">Descripcion: {{producto.requisito}}</p>
      <a href="#" class="btn btn-primary">Comprar</a>
      <!-- Acan el el Href habria que agregar un url de carrito de compra por ej -->
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}