{% extends 'base.html' %}

{% block content %}
<h1>Resultado de la búsqueda:</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
     {% for product in products %}

     <div class="card" style="width: 18rem;">
         <img class="card-img-top" src={{product.Imagen.url}} alt="card image cap">
         <div class="card-body">
             <h5 class="card-title">{{product.Nombre}}</h5>
             <p class="card-text">{{product.Detalles}}</p>
             <p class="card-text">{{poduct.Precio}}</p>
             <a href="#" class="btn btn-primary">Comprar!</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %} 